numpy
scipy
opencv-python
cmake
dlib
Flask<2.2.2
flasgger
Pillow
face_recognition
imutils
ariadne
flask-cors
requests
bs4
lxml
html5lib
selenium
Werkzeug==1.0.1
webdriver-manager
Jinja2==3.0.3
MarkupSafe>=2.1.3
itsdangerous==2.0.1
